@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    @apply bg-orange-100
}

.main{
    @apply xl:flex xl:justify-center
}
.box{
    @apply max-w-7xl w-screen
}

.header{
    @apply flex justify-between rounded-md h-24 items-center sticky top-0 shadow-md z-50 bg-orange-100
}

.logo{
    @apply h-full w-24
}
.cart{
    @apply relative h-9 w-9 mr-6
}

.number{
    @apply absolute h-5 min-w-[50%] px-1 rounded-full bg-orange-400 text-white flex justify-center items-center font-semibold -right-1 -top-1
}

.banner-img{
    @apply w-screen h-[18rem] sm:h-[26rem] mt-1 rounded-md
}

.heading{
    @apply text-center text-4xl font-semibold text-blue-950 mt-5
}

.sub-heading{
    @apply text-blue-950 text-center text-sm
}

.card{
    @apply grid w-full max-[640px]:mt-6 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-9 mt-2
}

.product{
    @apply my-5 w-4/5 max-[640px]:block max-[640px]:m-auto sm:w-full rounded-md h-fit bg-orange-200/25 hover:bg-orange-300/25 hover:transition-all px-2 pb-2
}

.product-img{
    @apply w-1/2 sm:w-5/6 sm:h-80 rounded-t-md justify-center my-4 object-contain
}

.product-name{
    @apply text-blue-950 font-semibold max-[382px]:h-fit max-[770px]:h-20 h-24 overflow-y-hidden
}

.price-detail{
    @apply flex justify-between w-2/3 text-xl gap-2
}

.discount{
    @apply text-red-500
}

.price{
    @apply font-semibold text-[#333]
}

span{
    @apply text-sm text-gray-600
}

.mrp{
    @apply line-through
}

.add-cart {
  --color: #fb923c;
  font-family: inherit;
  display: inline-block;
  width: 100%;
  height: 2.6em;
  line-height: 2.5em;
  position: relative;
  overflow:hidden;
  border: 2px solid var(--color);
  transition: color 0.5s;
  z-index: 1;
  font-size: 17px;
  border-radius: 6px;
  font-weight: 500;
  color: #172554;
  margin: 10px 0;
}

.add-cart:before {
  content: "";
  position: absolute;
  z-index: -1;
  background: var(--color);
  height: 150px;
  width: 100%;
  border-radius: 30%;
}

.add-cart:hover {
  color: #fff;
}

.add-cart:before {
  top: 100%;
  left: 100%;
  transition: all 0.7s;
}

.add-cart:hover:before {
  top: -50px;
  left: 0px;
}

.add-cart:active:before {
  background: #fb923c;
  transition: background 0s;
}

/* Cart Page Styling */

.cart-main{
    @apply flex justify-center mx-4 items-center
}

.cart-box{
    @apply max-w-5xl w-screen
}

.cart-flex{
    @apply flex justify-center items-center flex-col
}

.flex-inner{
    @apply bg-orange-200/25 px-2 hover:bg-orange-300/25 gap-4 hover:transition-all rounded-md w-full my-3 min-h-fit grid grid-flow-col max-[440px]:grid-flow-row py-2
}

.cart-img{
    @apply h-fit px-3 grid grid-cols-1 max-[440px]:place-items-center
}

.cart-img img{
    @apply w-48 h-60 object-contain
}

.cart-item-name{
    @apply max-[520px]:text-xl text-xl text-blue-950 max-[450px]:text-lg
}

.cart-discount{
    @apply text-white inline-block max-[520px]:my-1 my-2 py-1 px-2 bg-orange-400
}

.cart-price{
    @apply inline-block max-[283px]:block text-xl font-semibold max-[520px]:my-0 max-[520px]:text-lg my-1 text-[#333]
}

.cart-stock{
    @apply text-green-500 max-[520px]:my-0 my-1 inline-block
}

.inc-dec{
    @apply flex gap-4 my-2 max-[520px]:mt-1 max-[520px]:mb-0
}

.inc-dec svg{
    @apply bg-orange-400 rounded-full p-1 text-[#333]
}

.remove{
    @apply text-red-500 underline pt-1 inline-block cursor-pointer
}

.cart-header{
    @apply flex justify-between items-center w-full
}

.cart-heading{
    @apply text-2xl sm:text-4xl cursor-pointer font-semibold text-blue-950 my-5
}

.remove-items{
    @apply text-red-500 underline font-semibold cursor-pointer
}

.underline{
    @apply underline-offset-2
}

svg{
    @apply cursor-pointer
}

.total-footer{
    @apply my-5 max-[500px]:self-center max-[500px]:w-full w-1/2 min-h-fit flex self-end flex-col rounded-md bg-orange-200/25 hover:bg-orange-300/25 hover:transition-all p-2
}

.footer-text{
    @apply flex flex-row justify-between items-center
}

.sub-total{
    @apply font-semibold sm:text-2xl text-blue-950
}

.sub-item{
    @apply text-sm text-gray-600
}

.total{
    @apply text-xl sm:text-3xl font-semibold text-[#333]
}

/* Not Found Page */

.home{
    @apply text-orange-400 text-xl underline
}

.not-found{
    @apply h-[95vh] flex justify-center items-center flex-col
}

/* Checkout Page Design */

.checkout-main{
    @apply mx-auto max-w-2xl px-4 pb-24 pt-16 sm:px-6 lg:max-w-7xl lg:px-8
}

.form-input{
    @apply block w-full  rounded-md border-transparent shadow-sm focus:border-orange-400 focus:ring-orange-400 sm:text-sm
}

.form-label{
    @apply block text-sm font-medium text-gray-700
}

.checkout-form{
    @apply lg:grid lg:grid-cols-2 lg:gap-x-12 xl:gap-x-16
}

.form-heading{
    @apply text-lg font-medium text-blue-950
}

.form-shipping{
    @apply mt-10 border-t border-gray-200 pt-10
}

.red{
    @apply text-red-500
}

.shipping-grid{
    @apply mt-4 grid grid-cols-1 gap-y-6 sm:grid-cols-2 sm:gap-x-4
}

.mt{
    @apply mt-1
}

.order-main{
    @apply mt-4 rounded-lg bg-white shadow-sm hover:shadow-none transition-all
}

.order-edit{
    @apply ml-4 flow-root flex-shrink-0 max-[430px]:ml-2
}

.order-edit-btn{
    @apply -m-2.5 flex items-center justify-center p-2.5 max-[430px]:pt-3.5 max-[430px]:pl-0 text-gray-400 hover:text-gray-500
}

.order-save-qty{
    @apply flex flex-1 items-end justify-between pt-2 max-[430px]:flex-col max-[430px]:items-start
}

.order-flex{
    @apply ml-6 flex flex-1 flex-col max-[240px]:m-auto max-[240px]:block
}

.order-summary{
    @apply flex max-[240px]:flex-col max-[240px]:justify-center px-4 py-6 sm:px-6 hover:bg-gray-50 hover:rounded-t-md transition-all delay-75
}

.order-img{
    @apply w-20 h-28 object-contain hover:scale-125 transition-all duration-200
}

.order-title{
    @apply font-medium text-blue-950 hover:text-gray-800
}

.order-description{
    @apply mt-1 text-sm text-gray-500
}

.order-total{
    @apply space-y-6 border-t border-gray-200 px-4 py-6 sm:px-6
}

.order-total-flex{
    @apply flex items-center justify-between max-[250px]:flex-col
}

.order-number{
    @apply text-sm font-medium text-gray-900
}

.order-div{
    @apply border-t border-gray-200 px-4 py-6 sm:px-6
}

.order-btn{
    @apply w-full rounded-md border border-transparent bg-orange-400 px-4 py-3 text-base font-medium text-white shadow-sm hover:bg-orange-500 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 focus:ring-offset-gray-50
}

.order-quantity{
    @apply text-sm font-medium sm:text-sm text-[#333]
}

/* Modal Text */

.modal-div{
    @apply flex justify-center flex-col pb-4 -mt-6 px-4
}

.modal-text{
    @apply text-green-500 flex justify-center text-center animate-pulse
}

.modal-btn{
    @apply text-orange-400 underline text-base font-medium
}